Node-RED flows.json
[
    {
        "id": "7c7cc46b9539fb72",
        "type": "tab",
        "label": "フロー 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "229d5aa87957cc2e",
        "type": "http in",
        "z": "7c7cc46b9539fb72",
        "name": "",
        "url": "/get-csv",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 110,
        "y": 700,
        "wires": [
            [
                "0a914b1301c7122a"
            ]
        ]
    },
    {
        "id": "0a914b1301c7122a",
        "type": "mongodb in",
        "z": "7c7cc46b9539fb72",
        "mongodb": "0f4b2eba613700a5",
        "name": "",
        "collection": "readings",
        "operation": "find",
        "x": 350,
        "y": 700,
        "wires": [
            [
                "06c908586d088bc2"
            ]
        ]
    },
    {
        "id": "6d29e2caf9fb5092",
        "type": "function",
        "z": "7c7cc46b9539fb72",
        "name": "ヘッダー追加",
        "func": "msg.headers = {\n    'Content-Type': 'text/csv',\n    'Content-Disposition': 'attachment; filename=sensor_data.csv'\n};\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 750,
        "y": 700,
        "wires": [
            [
                "ea9b17b3c5c2e61a"
            ]
        ]
    },
    {
        "id": "ea9b17b3c5c2e61a",
        "type": "http response",
        "z": "7c7cc46b9539fb72",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 890,
        "y": 700,
        "wires": []
    },
    {
        "id": "7d79b2d92d95dfe3",
        "type": "aedes broker",
        "z": "7c7cc46b9539fb72",
        "name": "",
        "mqtt_port": 1883,
        "mqtt_ws_bind": "port",
        "mqtt_ws_port": "",
        "mqtt_ws_path": "",
        "cert": "",
        "key": "",
        "certname": "",
        "keyname": "",
        "persistence_bind": "memory",
        "dburl": "",
        "usetls": false,
        "x": 130,
        "y": 360,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "cffc2b8e79e803b4",
        "type": "mqtt in",
        "z": "7c7cc46b9539fb72",
        "name": "",
        "topic": "/dust",
        "qos": "2",
        "datatype": "json",
        "broker": "4377a21b30155735",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 90,
        "y": 440,
        "wires": [
            [
                "74d19367ae5561e4"
            ]
        ]
    },
    {
        "id": "7d623084ca160f34",
        "type": "change",
        "z": "7c7cc46b9539fb72",
        "name": "データ抽出",
        "rules": [
            {
                "t": "move",
                "p": "payload.Ratio",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 510,
        "y": 440,
        "wires": [
            [
                "94b7e58d48986e7a",
                "f56c52320c5e9301",
                "12622cc40ffca2a0",
                "522a37dcca43adeb"
            ]
        ]
    },
    {
        "id": "d5736e6b7a23448c",
        "type": "mongodb out",
        "z": "7c7cc46b9539fb72",
        "mongodb": "0f4b2eba613700a5",
        "name": "",
        "collection": "readings",
        "payonly": true,
        "upsert": false,
        "multi": false,
        "operation": "insert",
        "x": 590,
        "y": 620,
        "wires": []
    },
    {
        "id": "12622cc40ffca2a0",
        "type": "ui_chart",
        "z": "7c7cc46b9539fb72",
        "name": "",
        "group": "d382f88ba25b088f",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "",
        "chartType": "line",
        "legend": "false",
        "xformat": "auto",
        "interpolate": "linear",
        "nodata": "",
        "dot": true,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 810,
        "y": 500,
        "wires": [
            []
        ]
    },
    {
        "id": "94b7e58d48986e7a",
        "type": "mqtt out",
        "z": "7c7cc46b9539fb72",
        "name": "",
        "topic": "/screen",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "4377a21b30155735",
        "x": 820,
        "y": 440,
        "wires": []
    },
    {
        "id": "74d19367ae5561e4",
        "type": "function",
        "z": "7c7cc46b9539fb72",
        "name": "データ整形",
        "func": "msg.payload = {\n    deviceID: msg.payload.deviceID,\n    lowPulseOccupancy: msg.payload.lowPulseOccupancy,\n    Ratio: msg.payload.Ratio,\n    concentration: msg.payload.concentration,\n    timestamp: new Date()\n};\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 290,
        "y": 440,
        "wires": [
            [
                "d5736e6b7a23448c",
                "7d623084ca160f34",
                "7091e55867c06321"
            ]
        ]
    },
    {
        "id": "06c908586d088bc2",
        "type": "function",
        "z": "7c7cc46b9539fb72",
        "name": "CSV変換",
        "func": "function convertToCSV(data) {\n    if (data.length === 0) return '';\n\n    const headers = Object.keys(data[0]);\n    const csvData = [];\n\n    csvData.push(headers.join(','));\n\n    for (const row of data) {\n        const values = headers.map(header => {\n            const val = row[header];\n            return `\"${val}\"`;\n        });\n        csvData.push(values.join(','));\n    }\n\n    return csvData.join('\\n');\n}\n\nmsg.payload = convertToCSV(msg.payload);\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 600,
        "y": 700,
        "wires": [
            [
                "6d29e2caf9fb5092"
            ]
        ]
    },
    {
        "id": "712022f56d743dbc",
        "type": "inject",
        "z": "7c7cc46b9539fb72",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "0.03",
        "payloadType": "num",
        "x": 490,
        "y": 280,
        "wires": [
            [
                "94b7e58d48986e7a",
                "522a37dcca43adeb"
            ]
        ]
    },
    {
        "id": "0bb6077cc8867166",
        "type": "inject",
        "z": "7c7cc46b9539fb72",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "0",
        "payloadType": "num",
        "x": 490,
        "y": 240,
        "wires": [
            [
                "94b7e58d48986e7a",
                "522a37dcca43adeb"
            ]
        ]
    },
    {
        "id": "5873ebe8bbd24e57",
        "type": "inject",
        "z": "7c7cc46b9539fb72",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "0.07",
        "payloadType": "num",
        "x": 490,
        "y": 320,
        "wires": [
            [
                "94b7e58d48986e7a",
                "522a37dcca43adeb"
            ]
        ]
    },
    {
        "id": "9ef1b0a86c76af7f",
        "type": "inject",
        "z": "7c7cc46b9539fb72",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "0.1",
        "payloadType": "num",
        "x": 490,
        "y": 360,
        "wires": [
            [
                "94b7e58d48986e7a",
                "522a37dcca43adeb"
            ]
        ]
    },
    {
        "id": "f56c52320c5e9301",
        "type": "ui_gauge",
        "z": "7c7cc46b9539fb72",
        "name": "",
        "group": "d382f88ba25b088f",
        "order": 4,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Ratio",
        "label": "units",
        "format": "{{y}}",
        "min": 0,
        "max": "1",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 810,
        "y": 560,
        "wires": []
    },
    {
        "id": "7091e55867c06321",
        "type": "debug",
        "z": "7c7cc46b9539fb72",
        "name": "debug 4",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 500,
        "y": 520,
        "wires": []
    },
    {
        "id": "4028f45c5c5f9f41",
        "type": "e-mail",
        "z": "7c7cc46b9539fb72",
        "server": "smtp.gmail.com",
        "port": "465",
        "authtype": "BASIC",
        "saslformat": true,
        "token": "oauth2Response.access_token",
        "secure": true,
        "tls": false,
        "name": "",
        "dname": "メール送信",
        "x": 870,
        "y": 160,
        "wires": []
    },
    {
        "id": "e9eaba0168c4c3e8",
        "type": "inject",
        "z": "7c7cc46b9539fb72",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "10",
        "payloadType": "num",
        "x": 130,
        "y": 180,
        "wires": [
            [
                "522a37dcca43adeb"
            ]
        ]
    },
    {
        "id": "199c7be293fa5b5b",
        "type": "switch",
        "z": "7c7cc46b9539fb72",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gte",
                "v": "10",
                "vt": "num"
            },
            {
                "t": "btwn",
                "v": "0",
                "vt": "num",
                "v2": "1",
                "v2t": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 430,
        "y": 180,
        "wires": [
            [
                "prepare-email"
            ],
            [
                "849a2d2a02399129"
            ]
        ]
    },
    {
        "id": "522a37dcca43adeb",
        "type": "function",
        "z": "7c7cc46b9539fb72",
        "name": "予測",
        "func": "msg.payload = msg.payload + 0.1;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 290,
        "y": 180,
        "wires": [
            [
                "199c7be293fa5b5b"
            ]
        ]
    },
    {
        "id": "849a2d2a02399129",
        "type": "debug",
        "z": "7c7cc46b9539fb72",
        "name": "debug 5",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 660,
        "y": 200,
        "wires": []
    },
    {
        "id": "prepare-email",
        "type": "template",
        "z": "7c7cc46b9539fb72",
        "name": "メール本文作成",
        "field": "payload",
        "fieldType": "msg",
        "format": "html",
        "syntax": "mustache",
        "template": "<p>ホコリセンサーの値が急激に増加しています。</p>\n<p>現在の値: {{msg.payload}}</p>",
        "output": "str",
        "x": 680,
        "y": 160,
        "wires": [
            [
                "4028f45c5c5f9f41"
            ]
        ]
    },
    {
        "id": "0f4b2eba613700a5",
        "type": "mongodb",
        "hostname": "172.18.0.2",
        "topology": "direct",
        "connectOptions": "",
        "port": "27017",
        "db": "DustSensorData",
        "name": ""
    },
    {
        "id": "4377a21b30155735",
        "type": "mqtt-broker",
        "name": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "d382f88ba25b088f",
        "type": "ui_group",
        "name": "デフォルト",
        "tab": "cecbf2f0f2f491ee",
        "order": 1,
        "disp": true,
        "width": "12",
        "collapse": false,
        "className": ""
    },
    {
        "id": "cecbf2f0f2f491ee",
        "type": "ui_tab",
        "name": "ホーム",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]